.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    background-color: azure; 
}

.logo {
    width: 120px;
}
 

.nav-items > ul {
 display: flex;
 font-size:xx-large;
 list-style-type: none;
}

.nav-items >ul > li {
    margin: 0px 70px;
}

.Hot-card {
    width: 100%;
    width: 200px;
    height: 400px;
    text-align: center;
    margin: 5px;
    background-color: azure;
    overflow: hidden;
    background: azure;
    text-decoration: none;
}

.Hot-card:hover {
    border: 1px solid black;
    cursor: pointer;
}

.hotel-container{
    display: flex;
    flex-wrap: wrap;
}

.search {
    margin: 5px;
}

.hot-logo {
    width: 190px;
    height: 120px;
}

.filter-btn{
    margin: 10px;
    cursor: pointer;
}

.shimmmer-container {
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    height: 300px;
    width: 200px;
    margin: 20px;
   background-color: azure;
}

.search-box {
    margin: 10px;
    background-color: azure;
    border: 1px solid black;
    size: 10px;
}

.Fiter {
  display: flex;
}

.login-btn {
    padding: 0 20px;
    cursor: pointer;
    background-color: blue;
    font-size: large;
}

.filter-btn {
    background-color: blue;
    font-size: large;
}

.search-btn {
    background-color: blue;
    font-size: large;
}
.para {
    text-align: center;
    text-shadow: 1cap;
}
.head{
    text-align: center;
    font: 5em sans-serif;
    border: 1px solid black;
    cursor: pointer;
}
